<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to 'HOME', project_search_path, onclick: 'closeNav()' %>

  <% if user_signed_in? %>
    <%= link_to "UPLOAD", new_project_path, method: :get, onclick: 'closeNav()' %>
    <%= link_to "PROFILE", profile_path, method: :get, onclick: 'closeNav()' %>
    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, onclick: 'closeNav()' %>
  <% else %>
    <%= link_to "LOGIN", '', class: "userModal", id: 'login', onclick: 'closeNav()' %>
  <% end %>
</div>

<!-- <header> -->
<div class="header">
  <div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
    <%= link_to image_tag('/assets/header/logo.svg', class: 'logo vertical-center', size: '106x38'), project_search_path %>

    <% if controller.action_name == 'search' %>
      <%= render 'shared/header_form' %>
    <% end %>

    <%= image_tag '/assets/header/menu_icon.svg', class: 'menu vertical-center', size: '27x27', onClick: 'openNav()'%>
    </div>
  </div>
  </div>
<!-- </header> -->