<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-content">
      <div class="bg"></div>
      <div class="modal-header">
        <%= image_tag '/assets/landing/usermodal/close.svg', class: 'close', data: {dismiss: 'modal'} %>
      </div>
      <div class="modal-body">
        <%= image_tag '/assets/landing/logo.svg', class: 'logo' %>

        <div class="regist-login">
          <div class="title">
            <div class="regist">
              <%= image_tag '/assets/landing/usermodal/regist.svg', id: 'regist-image' %>
              회원가입
            </div>
            <div class="login">
            <%= image_tag '/assets/landing/usermodal/login.svg', id: 'login-image' %>
              로그인
            </div>
          </div>
          <div class="body">
            <div class="modal-regist">
              <%= simple_form_for(resource, as: resource_name, remote: true, url: registration_path(resource_name), id: 'regist-form') do |f| %>

                <div class="email-form">
                  <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "이메일 입력", input_html: { class: "regist-email", autocomplete: 'on' } %>
                  <%= image_tag '/assets/landing/usermodal/email.svg', class: 'regist-email-img' %>
                </div>
                <div class="email-form-error">이메일을 정확히 입력해 주세요.</div>
                <div class="pw-form">
                  <%= f.input :password, required: true, label: false, placeholder: "비밀번호 입력", input_html: { class: "regist-pw" }%>
                  <%= image_tag '/assets/landing/usermodal/password.svg', class: 'regist-pw-img' %>
                </div>
                <div class="pw-form-error">비밀번호는 4글자 이상, 숫자를 포함하여 만들어주세요.</div>

                <div class="email-check-form">
                  <%= f.check_box :email_check, checked: true %>
                  <label><span></span>이메일 수신 동의</label>
                  <%= link_to '이용약관', page_term_path, class: 'link-term' %> | 
                  <%= link_to '개인정보처리방침', page_privacy_path, class: 'link-privacy' %>
                </div>
                <div class="email-check-text">
                  - 동의를 하시면 댜양한 쇼미더앱스의 안내를 받아보실 수 있습니다.
                </div>
                <!-- <= f.input :password_confirmation, required: true %> -->
                <%= f.button :submit, "확인", class: 'submit-regist-btn submit' %>
                <% end %>
            </div>

            

            <div class="modal-login">
              <%= simple_form_for(resource, as: resource_name, format: :json, remote: true, url: session_path(resource_name), id: 'login-form') do |f| %>
              <div class="email-form">
                <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "이메일 입력", input_html: { class: "login-email", autocomplete: 'on'} %>
                <%= image_tag '/assets/landing/usermodal/email.svg', class: 'login-email-img' %>
              </div>
              <div class="email-form-error">이메일을 정확히 입력해 주세요.</div>
              <div class="pw-form">
                <%= f.input :password, required: true, label: false, placeholder: "비밀번호 입력", input_html: { class: "login-pw"} %>
                <%= image_tag '/assets/landing/usermodal/password.svg', class: 'login-pw-img' %>
              </div>
              <div class="pw-form-error"></div>
              <div class="autologin-check-form">
                <%= f.check_box :remember_me, checked: true, label: false, as: :boolean if devise_mapping.rememberable? %>
                <label><span></span>자동 로그인</label>
                <%= link_to '비밀번호 변경', new_user_password_path, class: 'link-privacy' %>
              </div>
              <%= f.button :submit, "확인", class: 'submit-login-btn' %>
              <% end %>
            </div>
            
            
          </div>
          
          
          
        </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
    
</div>