<div class="search">
  <div class="container">

    <div class="search-container row">

          <% @result[:project].each_with_index do |result, index| %>
            <div class="col-md-4 col-lg-3">
              <div class="search-content">

                <div class="search-header" id="<%= result.id %>" name="<%= result.name %>">
                  <%= image_tag asset_path(@result[:user].at(index).profile.avatar.url), class: 'user-icon' %>
                  <div class="title">
                    <div class="app-name">
                      <%= @result[:user].at(index).profile.app_name %>
                    </div>
                    <div class="project-name">
                      <%= result.name %>
                    </div>
                  </div>

                  <div class="action-icon">
                    <%= image_tag asset_path('header/tel_icon.svg'), class: 'tel' %>
                    <%= image_tag asset_path('header/email_icon.svg'), class: 'email' %>
                    <%= image_tag asset_path('header/download.svg'), class: 'download' %>
                  </div>

                  <%= image_tag(asset_path(result.images.first.photo.url), class: 'project-img') %>
                  
                  <div class="project-desc"><%= result.desc %></div>
                  <div class="project-tag">
                    <div class="search-tag">
                      <% if !params[:q].nil? && !params[:q][:name_cont].empty? %>
                        #<%= params[:q][:name_cont] %> &nbsp
                      <% end %>
                    </div>
                     <!-- #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag #tagtag  -->
                  </div>

                </div>
                
              </div>
              
            </div>
          <% end %>
        </div>

    <% if @search_projects.size <= 6 and @search_projects.size != 0 %>
      <div class="pagination">
        <%= image_tag(asset_path('profile/pagination_prev.svg'), class: 'pagination-prev') %>
          <div class="pagination-num"><div class="text current">1</div></div>
        <%= image_tag(asset_path('profile/pagination_next.svg'), class: 'pagination-next next') %>
      </div>
    <% end %>

    <% case params[:page] 
        when "1", nil, @last_page.to_s %>
          <%= paginate @search_projects, window: 4 %>
        <% when "2", (@last_page-1).to_s %>
          <%= paginate @search_projects, window: 3 %>
        <% else %>
          <%= paginate @search_projects, window: 2 %>
        <% end %>
  </div>
    <form id="hrefPost">
      <!-- <= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
      <input name="project_id" id="project_id" type="hidden" value="">
      <input name="project_name" id="project_name" type="hidden" value="">
    </form>
</div>

<script type="text/javascript">

  $('.search-header').on('click', function(e) {
    renderPreview('/project/'+ $(this).attr('name') +'/preview', $(this).attr('id'), $(this).attr('name'));
  });

  function renderPreview(url, project_id, project_name) {
    $('#hrefPost').find('#project_id').val(project_id);
    $('#hrefPost').find('#project_name').val(project_name);
    $('#hrefPost').attr({action: url, method: 'get'}).submit();
  }
</script>