<div class="project">
  <div class="container">
    <%= render 'project/form' %>
    <div class="project-upload">
      <%= form_tag image_path, method: 'put', id: 'upload-dropzone', remote: true, authenticity_token: true do %>

        <div id="upload">
          <%= image_tag asset_path('project/image_upload.png'), class: 'dz-thumbnail dz-image' %>
        </div>
        
        <% @images.each do |image| %>
          <div class="dz-preview dz-file-preview">
          <div class="dz-remove image-remove">삭제</div>
          <div class="overlay"><span>이미지 연결</span></div>
            <%= image_tag asset_path(image.photo(:thumb)), class: 'dz-thumbnail', id: "#{image.id}" %>
          <div class="file-name"><%= image.photo_file_name %></div>
          </div>
        <% end %>

    </div>
      <% end %>

      <div id='preview'></div>
      
      </div>
    </div>

    <form id="hrefPost">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input name="image_id" id="image_id" type="hidden" value="">
    </form>
  </div>
<!-- <= javascript_include_tag 'project_show'%> -->
<script type="text/javascript">

  function hrefPost(url, param) {
    $('#hrefPost #image_id').attr('value', param);
    $('#hrefPost').attr({action: url, method: 'post'}).submit();
  }

  $('.action-icon .project-submit').on('click', function(e) {
    param_project_name = $('.project-name-form textarea').val();
    param_project_desc = $('.project-desc-form textarea').val();
    $.ajax({
      type: "PUT",
      url: "<%= project_path %>",
      data: { 
        project_id: "<%= params[:project_id] %>",
        project: { 
        name: param_project_name, 
        desc: param_project_desc }
      },
      success: function(data) {
        $('.project-name-form textarea').text(param_project_name);
        $('.project-desc-form textarea').text(param_project_desc);
        window.location.href = "<%= profile_path %>"
      },
      error: function(data) {

      }
    });
  });

  $('.action-icon .project-cancel').on('click', function(e) {
    window.history.back();
  });

  $(".overlay").on('click', function(event) {
    id = $(this).parent().find('.dz-thumbnail').attr('id');
    hrefPost("/projects/<%= params[:project_id] %>/relation", id);
  });

  $('.dz-remove').on('click', function(e) {
    clickedValue = $(this);
    parent = $(this).parent();
    id = parent.find('.dz-thumbnail').attr('id');

    $.ajax({
      type: 'DELETE',
      url: '/projects/'+ "<%= params[:project_id] %>" + '/images/' + id,      
      success: function(res){
        parent.fadeOut(300);
      }
    });
  });

  Dropzone.autoDiscover = false;

  var headlineDropzone = new Dropzone("#upload-dropzone", {

  paramName: 'image[photo]',
  maxFiles: 100,
  addRemoveLinks: false,
  thumbnailWidth: 139,
  thumbnailHeight: 255,
  parallelUploads: 100,
  clickable: '#upload',
  previewContainer: '#preview',
  renameFilename: function (file) {
                return file.renameFilename = file.split('.')[0];
            },
  previewTemplate: "\<div class=\"dz-preview dz-file-preview\">\n\
  <div class=\"dz-remove\">DELETE</div>\n\
  <div class=\"overlay\"><span>Image Link</span></div>\n\
  <img class=\"dz-thumbnail\" data-dz-thumbnail>\n\
  <div class=\"dz-filename file-name\"><span data-dz-name></span></div>\n\
    </div>\n\
    ",
  acceptedFiles:'.jpg, .png, .jpeg, .gif',

  init: function(){

    this.on('dragenter', function(event) {
      // $('#upload-dropzone').css('border-color', 'rgba(245, 133, 31, 0.6)');
    });

    this.on('dragleave', function(event) {
      // $('#upload-dropzone').css('border-color', 'transparent');
    });

    this.on('success', function(file, json) {
      
      var id = json.id

      $(file.previewTemplate).find('.dz-remove').on('click', function(event) {
        $.ajax({
          type: 'DELETE',
          url: '/projects/'+ "<%= params[:project_id] %>" + '/images/' + id,      
          success: function(res){
            $(file.previewTemplate).fadeOut(300);
          },
          // error: function(data) {}
        });
      });

      $(file.previewTemplate).find('.overlay').on('click', function(event) {
        hrefPost("/projects/<%= params[:project_id] %>/relation", id);
      });

    });
  },

});
</script>
