<div class="edit-pw">
  <div class="title">비밀번호 변경</div>
  <div class="sub-title">변경하실 비밀번호를 입력해 주세요.</div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: 'edit-form' }) do |f| %>
    <!-- <= f.error_notification %> -->
    <%= f.input :reset_password_token, as: :hidden %>

    <div class="edit-pw-error"></div>
    <div class="inputs">
      <%= f.input :password, label: false, required: true, autofocus: true, placeholder: '비밀번호 입력' %>
      <%= f.input :password_confirmation, label: false, required: true, placeholder: '비밀번호 확인' %>

      <% unless resource.errors.empty? %>
        <div class="not-found-error">재설정 요청 기간이 끝났거나 토큰이 올바르지 않습니다.</div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.button :submit, "비밀번호 변경", class: 'submit' %>
    </div>
  <% end %>

</div>