<div class="profile">
  <div class="container">

    <div class="profile-container"> 
      <% unless @profile.nil? %>
        <div class="info">
        <!--  -->
          <%= image_tag asset_path(@profile.avatar.url), class: 'user-icon' %>
          <div class="user-profile">
            <div class="text">
                <%= @profile.app_name %>
            </div>
            <div class="action-icon">
              <%= link_to image_tag(asset_path('profile/call.svg'), class: 'icon'), "tel:"+@profile.tel %>
              <%= image_tag asset_path('profile/mail.svg'), class: 'icon' %>
              <%= image_tag asset_path('profile/edit.svg'), class: 'icon', id: 'edit' %>
            </div>
            <div class="sub-text">
              <%= @profile.desc %>
            </div>
          </div>
        </div>

        <div class="edit-info">
          <%= render 'profile/form' %>
        </div>
      <% end %>

      <% @projects.each_with_index do |project, index| %>
        <div class="content content-<%= index %>">
          <%= image_tag asset_path('profile/edit.svg'), class: 'edit-icon' %>
            <div class="content-container">
              <div class="title"><%= project.name %></div>
              <div class="desc"><%= project.desc %></div>

              <%= image_tag asset_path('landing/iphone-6-white.png'), id: 1 %>

              <% if @browser != 'phone'%>
                <%= image_tag asset_path('landing/iphone-6-white.png'), style: 'margin-left:5px;', class: "delete-target-img" %>
              <% end %>
            </div>
        </div>
      <% end %>

    </div>

    <% case params[:page] 
      when "1", nil, @last_page.to_s %>
        <%= paginate @projects, window: 4 %>
      <% when "2", (@last_page-1).to_s %>
        <%= paginate @projects, window: 3 %>
      <% else %>
        <%= paginate @projects, window: 2 %>
    <% end %>

</div>

<script>
  $('.content').css('top',$('.info').height()+20+"px");

  deleteTargetImg($(document).width());
  
  $(window).resize(function(e) {
    deleteTargetImg($(this).width());
  });

  $('.action-icon #edit').on('click', function(e) {
    showEditInfo($(document).width());
  });

  $('.action-icon .cancel').on('click', function(e) {
    showInfo($(document).width());
  });

  $('.action-icon .submit').on('click', function(e) {
    param_app_name = $('.edit-name-form input').val();
    param_desc = $('.edit-desc-form textarea').val();
    param_tel = $('.edit-tel-form input').val();
    param_app_email = $('.edit-email-form input').val();

    $.ajax({
      type: "PUT",
      url: "<%= profile_path %>",
      data: { profile: { 
        app_name: param_app_name, 
        desc: param_desc, 
        tel: param_tel, 
        app_email: param_app_email}
      },
      success: function(data) {
        if($('.edit-info').css('display') != 'none') {
          showInfo(param_app_name, param_tel, param_app_email, param_desc);
        }
      },
      error: function(data) {

      }
    });
  });

  function deleteTargetImg(width) {
    if (width <= 767) {
      $('.delete-target-img').each(function(index, value) {
        $(value).css('display', 'none');
      });
    } else {
      $('.delete-target-img').each(function(index, value) {
        $(value).css('display', 'inline-block');
      });
    }
  }

  function showInfo(width, app_name, tel, app_email, desc) {
    if (width > 1200) {
      $('.content-one').css('margin-top', '100px');
      $('.content-four').css('transform', 'translateY(-73%)');
    } else if(width >= 787 ) {
      $('.content-one').css('margin-top', '100px');
    } else if(width >= 320) {
      $('.content').css('top',$('.info').height()+20+"px");
    }

    if(!isNullOrUndefined(app_name) && !isNullOrUndefined(tel) && !isNullOrUndefined(app_email) && !isNullOrUndefined(desc)) {
      $('.user-profile .text').text(app_name);
      $('.action-icon a').attr('href', "tel:"+tel)
      $('.user-profile .sub-text').text(desc);
    }

    $('.edit-info').fadeOut(300).css('display', 'none');
    $('.info').fadeIn(300).css('display', 'block');
  }

  function showEditInfo() {
    if (width > 1200) {
      $('.content-one').css('margin-top', '197px');
      $('.content-four').css('transform', 'translateY(-47%)');
    } else if(width >= 787 ) {
      $('.content-one').css('margin-top', '186px');
    } else if(width >= 320) {
      $('.content').css('top', '360px');
    }
    $('.info').fadeOut(300).css('display', 'none');
    $('.edit-info').fadeIn(300).css('display', 'block');
  }

  function isNullOrUndefined(variable) { return variable === null || variable === undefined; }
</script>