<div class="profile">
  <div class="container">

    <div class="profile-container"> 
      <% unless @profile.nil? %>
        <div class="info">
        <!--  -->
          <%= image_tag asset_path(@profile.avatar.url), class: 'user-icon' %>
          <div class="user-profile">
            <div class="text">
                <!-- <= @profile.app_name %> -->
            </div>
            <div class="action-icon">
              <%= link_to image_tag(asset_path('profile/call.svg'), class: 'icon tel'), "" %>
              <%= mail_to "", image_tag(asset_path('profile/mail.svg'), class: 'icon mail') %>
              <%= image_tag asset_path('profile/edit.svg'), class: 'icon', id: 'edit' %>
            </div>
            <div class="sub-text">
              <!-- <= @profile.desc %> -->
            </div>
          </div>
        </div>

        <div class="edit-info">
          <%= render 'profile/form' %>
        </div>
      <% end %>

      <% @projects.each_with_index do |project, index| %>
        <div class="content content-<%= index %>">
          <% if project.type(project.id) %>
            <%= link_to image_tag(asset_path('profile/edit.svg'), class: 'edit-icon'), show_project_path(project.id) %>
          <% end %>
          <% unless project.type(project.id) %>
            <%= link_to image_tag(asset_path('profile/edit.svg'), class: 'edit-icon'), '', class: 'video-link', id: project.id %>
            <!-- video_section_project_path(project.id) -->
          <% end %>
          <!-- <= image_tag asset_path('profile/edit.svg'), class: 'edit-icon' %> -->
            <div class="content-container">
              <div class="title"><%= project.name %></div>
              <div class="desc"><%= project.desc %></div>

              <% if project.type(project.id) %>
                <% unless project.images.empty? %>
                  <%= image_tag asset_path(project.images.first.photo(:thumb)) %>
                  <% if @browser != 'phone'%>
                    <% unless project.images.second.nil? %>
                      <%= image_tag asset_path(project.images.second.photo(:thumb)), style: 'margin-left:5px;', class: "delete-target-img" %>
                    <% end %>
                  <% end %>
                <% else %>
                  <= link_to image_tag(asset_path('project/image_upload.svg'), class: 'default_img'), show_project_path(project.id) %>
                <% end %>
              <% end %>

              <% unless project.type(project.id) %>
                <%= image_tag asset_path("profile/avatar_logo.svg"), style: 'margin-left:5px;', class: "video-thumnail" %>
              <% end %>

            </div>
        </div>
      <% end %>

    </div>

    <% if @search_projects.size <= 4 and @search_projects.size != 0 %>
      <div class="pagination">
        <%= image_tag(asset_path('profile/pagination_prev.svg'), class: 'pagination-prev') %>
          <div class="pagination-num"><div class="text current">1</div></div>
        <%= image_tag(asset_path('profile/pagination_next.svg'), class: 'pagination-next next') %>
      </div>
    <% end %>

    <% case params[:page] 
      when "1", nil, @last_page.to_s %>
        <%= paginate @projects, window: 4 %>
      <% when "2", (@last_page-1).to_s %>
        <%= paginate @projects, window: 3 %>
      <% else %>
        <%= paginate @projects, window: 2 %>
    <% end %>
  

    <form id="hrefPost">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input name="project_id" id="project_id" type="hidden" value="">
    </form>

  </div>
</div>

<script type="text/javascript">
  $('.user-profile .text').text(gon.app_name);
  $('.user-profile .icon').attr('href', "tel: "+gon.tel);
  $('.user-profile .icon.mail').attr("href", "mailto:"+gon.app_email);
  $('.user-profile .sub-text').text(gon.desc);

  function hrefPost(url, param) {
    $('#hrefPost #project_id').attr('value', param);
    $('#hrefPost').attr({action: url, method: 'post'}).submit();
  }

  $('.video-link').on('click', function(e) {
    hrefPost("projects/"+$(this).attr('id')+"/videos/section", $(this).attr('id'));
  });
</script>